.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #c5c5c5;
  display: flex;
  justify-content: center;
  align-items: center;

  & main.chat {
    width: 1200px;
    height: 90%;
    background-color: #e4e4e4;
    border: 1px solid #cfdfdf;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & main.login {
    background-color: #e4e4e4;
    border: 1px solid #cfdfdf;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(142, 159, 167, 0.322);

    & .title {
      text-align: center;
      padding-bottom: 20px;
      font-size: 20px;
    }

    & .input {
      display: flex;

      & input {
        flex: 3;
        margin-right: 5px;
      }

      & button {
        flex: 1;
      }
    }
  }
}

@media (max-width: 1200px) {
  .App main.main-container {
    width: 100%;
    height: 100%;
  }

  footer {
    display: none;
  }
}
