body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ffffff;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

input,
button {
  padding: 8px;
  outline: none;
  border: 2px solid #cfd1d4;
  border-radius: 4px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
  cursor: pointer;
  font-weight: 700;
  background-color: #007bff;
  border-color: #007bff;
  color: #ffffff;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: #1269c5;
    border-color: #1269c5;
  }
}
